#fundo{
	background-color: whitesmoke;
}

.titulo{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#campos{
	text-align: center;
	margin: auto;
	padding: auto;
    font-family: 'Roboto', sans-serif;
}

#botoes{
	text-align: center;
	margin-top: 25px;
	padding: auto;	
}

#B01, #B02, #B03, #B04{
	border-radius: 10px;
	background-color: #dedede;
	color: black;
	border-style: none;
    font-family: 'Roboto', sans-serif;	
}

#N1, #N2, #N3, #N4{
	border-radius: 10px;
	background-color: #dedede;
	color: black;
	border-style: none;
    font-family: 'Roboto', sans-serif;	
}