body {
  background: #eee;
}

.memory-table {
    margin: auto;
    width: 60%;
}

.memory-table tr td img {
    width: 100%;
  }

.memory-table tr td img:hover {
    cursor: pointer;
    opacity: 0.8;    
  }

.memory-table tr td {
    width: 16%;
  }

#main-title, #subtitle{
  text-align: center;
  font-family: Arial;
  
}  
